 body {
     background-color: aquamarine;
 }
 /* SLIDER ----------------------------------------------------------------------------*/
 
 .slider {
     width: 100%;
     overflow: hidden;
     z-index: -1;
     clear: both;
 }
 
 #bouton_inscription {
     padding: 0.6rem;
     padding-left: 3rem;
     padding-right: 3rem;
     position: absolute;
     top: 42vh;
     left: 18%;
     background-color: rgb(235, 53, 53);
     color: white;
     font-size: x-large;
     border-radius: 25px;
     animation: appear 10s infinite;
 }
 
 #accroche {
     position: absolute;
     top: 35vh;
     left: 15%;
     color: white;
     font-size: 3rem;
     font-weight: 900;
     animation: appear 10s infinite;
 }
 
 .slides {
     width: 200%;
     animation: glisse 10s infinite;
 }
 
 .slide {
     float: left;
     width: 50%;
 }
 
 .slide>img {
     width: 100%;
     height: 100%;
 }
 
 #btn {
     text-decoration: none;
     color: white;
 }
 /* ANIMATION */
 
 @keyframes appear {
     0% {
         opacity: 0%;
     }
     5% {
         opacity: 100%;
     }
     25% {
         opacity: 100%;
     }
     28% {
         opacity: 0%;
     }
     52% {
         opacity: 0%;
     }
     55% {
         opacity: 100%;
     }
     75% {
         opacity: 100%;
     }
     78% {
         opacity: 0%;
     }
     100% {
         opacity: 0%;
     }
 }
 
 @keyframes glisse {
     0% {
         transform: translateX(0);
     }
     30% {
         transform: translateX(0);
     }
     50% {
         transform: translateX(-50%);
     }
     80% {
         transform: translateX(-50%);
     }
     100% {
         transform: translateX(0);
     }
 }