{% extends 'base.html.twig' %}

{% block title %}Hello VideoCineController!{% endblock %}

{% block body %}

<div class="slider">
    <div class="slides">
         <div class="slide"><img src="img/film1.jpg" alt="pic1"></div>  
        <div class="slide"><img src="img/film2.jpg" alt="pic2"></div>
    </div>
</div>


<p id="bouton_inscription"><a id="btn" href="#">Bienvenue sur Miniciné</a></p>
<div class="example-wrapper">
    

    
    
</div>
{% endblock %}
