{% extends 'base.html.twig' %}

{% block title %}New Film{% endblock %}

{% block body %}
    <h1>Creation d'un Film</h1>

    {{ include('film/_form.html.twig') }}

    <a href="{{ path('film_index') }}">back to list</a>
{% endblock %}
