{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}

{% block body %}
    <h1>Film</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ film.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ film.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ film.description }}</td>
            </tr>
            <tr>
                <th>Realisateur</th>
                <td>{{ film.realisateur }}</td>
            </tr>
            <tr>
                <th>Acteur</th>
                <td>{{ film.acteur }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ film.annee ? film.annee|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ film.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('film_index') }}">back to list</a>

    <a href="{{ path('film_edit', {'id': film.id}) }}">edit</a>

    {{ include('film/_delete_form.html.twig') }}
{% endblock %}
