{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <h1>Modifier l'utilisateur</h1> 
    {{ form(userForm)}}
   
{% endblock %}
