{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <h1>Liste des utilisateurs</h1> 
    <table class="table">
        <thead>
            <th>ID</thead>
            <th>Email</th>
            <th>Rôles</th>
            <th>Films</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {# on boucle sur les utilisateurs #}
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    {# pour les roles coe possibilité de +s roles et que la rôles est en json
                    on recupere un tableau on va boucler à l'intérieur du tableau rôles #}
                    <td>
                        {% for role in user.roles %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur
                            {% elseif role == "ROLE_EDITOR" %}
                                Editeur
                            {% elseif role == "ROLE_ADMIN" %} 
                                Administrateur 
                            {% endif %}          



                        {% endfor  %}
                    
                    </td>
                    {# <td>{{ user.film | length}}</td> #}
                    <td><a href="{{ path('admin_modifier_utilisateur', {'id' : user.id})  }}" class="btn btn-warning">Modifier</a> </td>
                    <td></td>
                
                </tr>

          
                <tr>
                    <td colspan=5>Il n'y a pas d'utilisateur inscrit </td>
                
                
                </tr>


            {% endfor %}


        </tbody>
            
        
    
    </table>

{% endblock %}
